body {
	background-image:url("http://sr.photos1.fotosearch.com/bthumb/CSP/CSP685/k6850380.jpg");

}
h1, p {
	text-align: center;
	color: #0000;
	font-size: 50px;
}
ul{
	text-align: center;
	font-size:40px;}